header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /*centraliza os textos*/

    /* fundo do background header */
    background-image: url(../assets/images/Background_Intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    /* tamanho do background header */
    width: 100%;
    height: 750px;

    .avatar {

      /*tamanho total do círculo vermelho*/
      width: 96px;
      border-radius: 50%; /*forma o círculo na foto*/

      /*borda vermelha*/
      border: 3px solid var(--red-color);

      /* centralização */
      display: flex; /* preenche o círculo com a foto*/
      align-items: center;
      justify-content: center;

      position: relative;

      margin: 120px auto 56px;
      /* cima | laterais | baixo */
    }


    .avatar-img img {
      width: 87.27px;
      height: 87.27px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover; /*não deixa a foto esticada ou espremida*/
    }

    .avatar-tag {
      position: absolute; /*posição absoluta para colocar a tag no canto do círculo*/
      bottom: -10px;
      right: -10px;
  }
}

.container {
  width: 680px;
  height: 327px;
  display: flex; /*organiza os elementos em uma direção — linha ou coluna*/
  flex-direction: column;
}

/* Espaçamento entre parágrafos */
.sub {
  margin-top: 56px;
}

.t-lg {
  margin-top: 8px;
}

.text-sm {
  margin-top: 20px;
}













