footer {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

button {
  background: var(--gray-400);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 25rem;
  height: 4.25rem;
  padding: 1rem 1rem 1rem;
  border: none;
  border-radius: .5rem;
  justify-self: center;
  color: var(--gray-100);
}

button img {
  margin-left: auto;
}

button span {
  margin-right: 14rem;
}



  


