body {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
  background-color: var(--gray-500);
  /* display: grid; */
  text-align: center; 
}
  
.grid {
  margin-top: 56px;
  display: flex;
  display: flex; /* preenche o círculo com a foto*/
  align-items: center;
  justify-content: center;
}
    
  
.projects {
  margin-top: 88px;
}

.container-projects {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  display: grid;
}
  


  