/* Principal */
.red {
  color: var(--red-color);
}

.purple {
  color: var(--purple-color);
}

.blue {
  color: var(--blue-color);
}

.green {
  color: var(--green-color);
}

.yellow {
  color: var(--yellow-color);
}

/* Base */
.gray-100 {
  color: var(--gray-100);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-300 {
  color: var(--gray-300);
}

.gray-400 {
  color: var(--gray-400);
}

.gray-500 {
  color: var(--gray-500);
}

.gray-600 {
  color: var(--gray-600);
}

/* Fontes */

.t-lg {
  font: var(--t-lg);
}

.t-md {
  font: var(--t-md);
}

.t-sm {
  font: var(--t-sm);
}

.sub {
  font: var(--sub);
}

.text-md {
  font: var(--text-md);
}

.text-sm {
  font: var(--text-sm);
}

